@import '../../values.scss';

.job-card {
  padding: 24px;
  border: 6px solid white;
  background-color: $primary-color !important;
  margin: 16px;
  max-width: 600px;

  &.current {
    border: 6px solid $accent-color;
  }

  .visit-link {
    margin-top: 8px;
    a {
      color: white;
      text-decoration: underline;
    }
  }
}
